<script type="text/javascript" src="../../assets/js/patients.js"></script>
<nav>
  <div class="blue lighten-1 nav-wrapper">
    <a href="/"><img src="/assets/images/logo-removebg.png" class="brand-logo center animated pulse pulse-time"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#">Our Vision</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h5 class="right nav-name change-font">One Stop Health</h5>

  </div>
</nav>
<br>
<div class="container blue-card z-depth-3">
  <div class="row">
    <div class="col s12"><span class="flow-text">
        <div id="current-patient col s12" class="current-patient ">
          <table>
            <tr>
              <button class="btn waves-effect waves-light" id="patientInfo" type="submit" name="action">Profile
                <i class="material-icons right">person</i>
              </button>
              <button class="btn waves-effect waves-light float-right" id="patient-logout">Logout
                <i class="material-icons right">logout</i>
              </button></tr>
            {{#each patients}}
            <tr>
              {{!-- <td><strong>Name</strong></td>
              <td> --}}
              <td><strong>Name </strong> </td>
              <td>{{this.patient_name}}</td>
            </tr>
            <tr>
              <td><strong>Address </strong> </td>
              <td> {{this.patient_primary_address1}}</td>
            </tr>
            <tr>
              <td><strong>City, Zip Code</strong> </td>
              <td>{{this.patient_city}}, {{this.patient_zip}} </td>
            </tr>
            <tr>
              <td><strong>Medical Insurance ID# </strong></td>
              <td>{{this.patient_medical_insurance_id}}</td>
            </tr>
            <tr>
              <td><strong>Dental Insurance ID# </strong></td>
              <td>{{this.patient_dental_insurance_id}}</td>
            </tr>
            <hr>
            {{/each}}
          </table>
        </div>
      </span>
    </div>
  </div>
</div>

<div class="container blue-card z-depth-3">
  <div class="row">
    <div class="col s6">
      <h6 class="right nav-name change-font">My Doctors</h6>
      <table>
        <tr>
          <td><strong>Doctor Name</strong></td>
          <td>John C Chiu</td>
          <td>Family Physician</td>
        </tr>
        <tr>
          <td><strong>Doctor Name</strong></td>
          <td>Heather Met</td>
          <td>Dentist</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div class="container blue-card z-depth-3">
  <form id="searchDiv" type="form-controls">
    <div class="row">
      <div class="col s6">
        <select class="browser-default">
          <option value="enabled selected">Doctor Type</option>
          <option value="general">Family Physician</option>
          <option value="optometrist">Optometrist</option>
          <option value="dentist">Dentist</option>
          <option value="cardiologist">Cardiologist</option>
          <option value="neurologist">Neurologist</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        {{#each patients}}
        <div style="display:none" id="patient-email" data-email={{this.email}}>{{this.email}}</div>
        {{/each}}
        <label class="white-text" for="searchDoctorZip"><strong style="font-size: 2em">Find Doctor near me</strong></label>
        <br>
        <input placeholder="Enter a Zipcode" type="input" id="searchDoctorZip" class="w-50">
        <button class="btn waves-effect waves-light btn-small" id="doctor-lookup">
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>
  </form>
</div>

 <div id="selectDoctor" class="container blue-card z-depth-3">
    <div class="row">
      <div class="col s6">
        <h6 class="nav-name change-font">Select Doctor</h6>
         {{#each doctors}}
        <table>
          <tr>
            <td><strong>Doctor Name</strong></td>
            <td>{{this.doctors_name}}</td>
            
          </tr>
        </table>
        {{/each}}
      </div>
    </div>
 </div>
<script>
$(document).ready(function () {
    $("#doctor-lookup").on("click", function () {
        var userInput = $("#searchDoctorZip").val();
        var emailId = $("#patient-email").attr("data-email");
        alert(userInput, emailId);
        // Get doctor zips from collected database 
        $.ajax({
            // Project.findAll({ where: { name: 'doctor_zip' } }).then(projects => {
            type: "POST",
            url: "doctors/doctor_zip" ,
            data: {patientId: emailId, zip: userInput},
            success: function (res) {

            }
        }).then(function (response) {
          parent.window.location = "/api/patient/" +  emailId
           // $("#selectDoctor").toggle();


        });
    });
});
var logoutConf= {
         baseUrl: 'https://dev-527021.okta.com',
    clientId: '0oafzij4dl6bUC13R356',
    redirectUri: 'http://localhost:8080',
    authParams: {
      issuer: "https://dev-527021.okta.com/oauth2/default",
      responseType: ['token', 'id_token'],
      scopes: ['openid', 'email', 'profile'],
    },
   }
    oktaSignIn = new OktaSignIn(logoutConf);
    function logout() {
    console.log("logout pressed");
    oktaSignIn.signOut("/");
    self.location = "../../";
  }

   $("#patient-logout").on("click", function() {
      console.log("Doctor Logout Button pressed");
      logout();
    });
</script>

