
<nav>
  <div class="blue lighten-1 nav-wrapper">
    <a href="/"><img src="/assets/images/logo-removebg.png" class="brand-logo center animated pulse pulse-time"></a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#">Our Vision</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h5 class="right nav-name change-font">One Stop Health</h5>
               
  </div>
</nav>
<br>
<div class="container blue-card z-depth-3">

  <div class="row">
    <div class="col s5"><span class="flow-text">
        <div id="current-patient" class="current-patient ">
          <table>
            {{!-- <tr>
              <th>Patient</th>
            </tr> --}}
            <tr>
              <button class="btn waves-effect waves-light" id="patientInfo" type="submit" name="action">Profile
                <i class="material-icons right">favorite</i>
              </button>
               <button class="btn waves-effect waves-light float-right" id="patient-logout" >Logout
                <i class="material-icons right">logout</i>
              </button></tr>
            {{#each patients}}
            <tr>
              {{!-- <td><strong>Name</strong></td>
              <td> --}}
              <td>
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input disabled id="patient-name" type="text" class="validate" value={{this.patient_name}}>
                </div>

              </td>
            </tr>
            <tr>
              <td>
                <div class="input-field col s6">
                  <i class="material-icons prefix">address_circle</i>
                <input disabled  id="address" type="text" class="validate" data-length=100 value={{this.patient_primary_address1}} >
               </div>
                </td>
            </tr>
            <tr>
              <td><strong>City, Zip </strong> </td>
              <td>{{this.patient_city}}<span> , </span> {{this.patient_zip}}</td>
            </tr>
            <tr>
              <td><strong>Medical Insurance ID# </strong></td>
              <td>{{this.patient_medical_insurance_id}}</td>
            </tr>
            <tr>
              <td><strong>Dental Insurance ID# </strong></td>
              <td>{{this.patient_dental_insurance_id}}</td>
            </tr>
            <hr>
            {{/each}}
          </table>
        </div>
      </span>
    </div>
  </div>
</div>
<div class="container blue-card z-depth-3">
  <form type="form-controls">
    <div class="row">
      <div class="col s6">
        <select class="browser-default">
          <option value="enabled selected">Doctor Type</option>
          <option value="general">Family Physician</option>
          <option value="optometrist">Optometrist</option>
          <option value="dentist">Dentist</option>
          <option value="cardiologist">Cardiologist</option>
          <option value="neurologist">Neurologist</option>
        </select>
      </div>
      </div>
      <div class="row">
        <div class="col s6">
        <label class="white-text" for="searchDoctor"><strong style="font-size: 2em">Find Doctor near me</strong></label>
        <br>
        <input placeholder="Enter a Zipcode" type="text" id="searchDoctor" class="w-50">
        <a class="waves-effect waves-light btn-small bg-info"><i class="material-icons">search</i></a>
      </div>
    </div>
    <div class="row">

  </form>
</div>
</div>

{{#*inline  "doctorzip"}}
<table id="doctor-data">
  {{#each doctors}}
  <tr>
    <td><strong>Name</strong></td>
    <td>{{this.doctor_name}}</td>
  </tr>
  <tr>
    <td><strong>Address</strong></td>
    <td>{{this.doctor_primary_address1}}</td>
  </tr>
  <tr>
    <td><strong>City</strong></td>
    <td>{{this.doctor_city}}</td>
  </tr>
  <tr>
    <td><strong>Zip</strong></td>
    <td>{{this.doctor_zip}}</td>
  </tr>
  <hr>

  <h5 class="text-center">Doctors nearby</h5>
  <br>
  <h5 class="text-center">Doctor info: <br> {{this.doctors}}</h5>
  {{!-- response[i] // USE JQUERY --}}

  {{/each}}
</table>
{{/inline}}

<script>
   var logoutConf= {
         baseUrl: 'https://dev-527021.okta.com',
    clientId: '${PATIENT_CLIENT_ID}',
    redirectUri: 'http://localhost:8080',
    authParams: {
      issuer: "https://dev-527021.okta.com/oauth2/default",
      responseType: ['token', 'id_token'],
      scopes: ['openid', 'email', 'profile'],
    },
   }
    oktaSignIn = new OktaSignIn(logoutConf);
    function logout() {
    console.log("logout pressed");
    oktaSignIn.signOut("/");
    self.location = "../../";
  }

   $("#doctor-logout-btn").on("click", function() {
      console.log("Doctor Logout Button pressed");
      logout();
    });

    $("#patient-logout").on("click", function(){
       logout();
    });

</script>