<nav>
  <div class="blue lighten-1 nav-wrapper">
    <a class="brand-logo center">One Stop Health</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="#">Our Vision</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s5"><span class="flow-text">
        <div id="current-patient" class="current-patient ">
          <table>
            {{!-- <tr>
              <th>Patient</th>
            </tr> --}}
            <tr>
              <button class="btn waves-effect waves-light" id="patientInfo" type="submit" name="action">Profile
                <i class="material-icons right">favorite</i>
              </button></tr>
              {{#each patients}}
              <tr><td><strong>Name</strong></td><td>{{this.patient_name}}</td></tr>
              <tr><td><strong>Address </strong></td><td> {{this.patient_primary_address1}}</td></tr>
              <tr><td><strong>City, Zip </strong> </td><td>{{this.patient_city}}<span>   , </span> {{this.patient_zip}}</td></tr>
              <hr>
              {{/each}}
          </table>
        </div>
      </span>
    </div>
  </div>
</div>
<div class="container">
</div>
<div class="container">
   <div class="row">
  <form type="form-controls">
      <label for="searchDoctor"><strong style="font-size: 2em">Find Doctor near me</strong></label>
      <input placeholder="Enter a Zipcode" type="text" id="searchDoctor" class="w-50 searching-doctor">
      <a class="waves-effect waves-light btn-small bg-info"><i class="material-icons">search</i></a>
  </form>
</div>
</div>

  {{#each doctors}}
  <tr><td><strong>Name</strong></td><td>{{this.doctor_name}}</td>/tr>
  <tr><td><strong>Address</strong></td><td>{{this.doctor_primary_address1}}</td>/tr>
  <tr><td><strong>City</strong></td><td>{{this.doctor_city}}</td>/tr>
  <tr><td><strong>Zip</strong></td><td>{{this.doctor_zip}}</td>/tr>
  <hr>
  <form method="POST" id="searchDoctor">
    <input type="button" id="searchDoctor" class="searching-doctor">
  </form>
  {{/each}}
  <h5 class="text-center">Doctors nearby</h5> 
  <br>
  <h5 class="text-center">Doctor info: <br> {{this.doctors}}</h5>
  
